In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('distance2.csv')
df = df.set_index('Date')

In [7]:
df

,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Number of Trips 25-50
Date,,,,,,,,,,
2019/01/01,724994918,702847527,324233561,389008778,350710314,47059366,22576469,5417984,5184257,38143.112264
2019/01/02,873821053,857652193,414113344,514907497,502234086,53216858,23450868,5886809,4593584,52986.922303
2019/01/03,889115519,870213253,422309998,527320887,516078313,55099166,24373344,6114206,4701143,54386.797106
2019/01/04,879469995,886920417,435751001,543968920,528429562,57946617,26061661,6288101,4707485,55434.988679
2019/01/05,886366822,912494498,445616683,542819222,495714599,58090842,25471995,5973364,4315916,51786.132200
...,...,...,...,...,...,...,...,...,...,...
2022/02/01,1119223826,939473978,460194936,590028553,549281847,55056147,22497410,4686881,3391335,53538.766625
2022/02/02,1122807022,949053379,466278216,591583425,545284774,55329209,23411731,4892722,3512076,53167.851631
2022/02/03,1120844037,928232447,446740232,567713099,529348171,54833879,23983083,5086418,3644006,51827.175659
2022/02/04,1066314529,914735343,453801091,581405460,538878504,58648879,27416062,5308393,3401470,52903.594654
2022/02/05,936656233,847849956,435511259,555975032,508528726,63809016,27355733,4666705,3093292,51746.963927

In [10]:
df['Number of Trips 1-5'] = df['Number of Trips 1-3'] + df['Number of Trips 3-5']
df['Number of Trips 5-25'] = df['Number of Trips 5-10'] + df['Number of Trips 10-25']
df['Number of Trips 25-100'] = df['Number of Trips 50-100'] + df['Number of Trips 25-50']
df['Number of Trips >=250'] = df['Number of Trips >=500'] + df['Number of Trips 250-500']
df = df[['Number of Trips <1', 'Number of Trips 1-5', 'Number of Trips 5-25', 'Number of Trips 25-100','Number of Trips 100-250','Number of Trips >=250']]
df

,Number of Trips <1,Number of Trips 1-5,Number of Trips 5-25,Number of Trips 25-100,Number of Trips 100-250,Number of Trips >=250
Date,,,,,,
2019/01/01,724994918,1027081088,739719092,4.709751e+07,22576469,10602241
2019/01/02,873821053,1271765537,1017141583,5.326984e+07,23450868,10480393
2019/01/03,889115519,1292523251,1043399200,5.515355e+07,24373344,10815349
2019/01/04,879469995,1322671418,1072398482,5.800205e+07,26061661,10995586
2019/01/05,886366822,1358111181,1038533821,5.814263e+07,25471995,10289280
...,...,...,...,...,...,...
2022/02/01,1119223826,1399668914,1139310400,5.510969e+07,22497410,8078216
2022/02/02,1122807022,1415331595,1136868199,5.538238e+07,23411731,8404798
2022/02/03,1120844037,1374972679,1097061270,5.488571e+07,23983083,8730424
2022/02/04,1066314529,1368536434,1120283964,5.870178e+07,27416062,8709863
2022/02/05,936656233,1283361215,1064503758,6.386076e+07,27355733,7759997

In [11]:
compression_opts = dict(method='zip',
                        archive_name='out3.csv')  
df.to_csv('out3.zip', index=False,
          compression=compression_opts)