In [42]:
df = pd.read_json('a3cleanedonly2015.json')

In [2]:
import pandas as pd
import numpy as np

In [30]:
manner_df = df['Manner_of_death'].value_counts() #donut chart

In [45]:
race_df = df.replace('', np.nan, inplace=True)
race_df = df['Race'].value_counts() #bar plot

In [17]:
df

,FIELD1,Unnamed: 0,UID,Name,Age,Gender,Race,Date,City,State,Manner_of_death,Armed,Mental_illness,Flee
0,103,104,9978,Tim Elliott,53.0,Male,Asian,2015-01-02,Shelton,WA,Shot,,True,False
1,104,105,10077,Hung Trieu,NaN,Male,Asian,2015-02-01,Houston,TX,Shot,,False,False
2,105,106,10374,Lue Vang,39.0,Male,Asian,2015-04-22,Eldorado Springs,CO,Shot,,False,False
3,106,107,10421,Thong Kien Ma,32.0,Male,Asian,2015-05-05,South El Monte,CA,Shot,,False,False
4,107,108,10628,Ton Nguyen,60.0,Male,Asian,2015-07-02,San Diego,CA,Shot,,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,11604,11605,10226,David Werblow,41.0,Male,,2015-03-15,Branford,CT,Tasered,Unarmed,True,False
1533,11605,11606,10424,John Paul Kaafi,33.0,Male,,2015-05-06,Sarasota,FL,Tasered,,True,False
1534,11606,11607,10440,Martin Eugene Bayless,66.0,Male,,2015-05-09,Carbondale,KS,Tasered,,False,False
1535,11607,11608,10448,Dajuan Graham,40.0,Male,,2015-05-12,Silver Spring,MD,Tasered,,True,False
1536,11608,11609,10796,Matthew Russo,26.0,Male,,2015-08-07,Hartford,CT,Tasered,,False,False

In [53]:
month_df = df['Date'].groupby([df.Date.dt.isocalendar().week]).agg('count')

/var/folders/_f/cn7w2_g979z63x69nw9b3y_r0000gn/T/ipykernel_37196/3720976252.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  month_df = df['Date'].groupby([df.Date.dt.weekofyear]).agg('count')

In [52]:
month_df.to_csv() #line graph

'Date,Date\n1,10\n2,28\n3,35\n4,19\n5,27\n6,30\n7,26\n8,29\n9,37\n10,22\n11,34\n12,44\n13,31\n14,39\n15,31\n16,27\n17,35\n18,28\n19,24\n20,33\n21,27\n22,34\n23,25\n24,35\n25,18\n26,21\n27,30\n28,42\n29,33\n30,32\n31,25\n32,39\n33,27\n34,32\n35,29\n36,33\n37,28\n38,27\n39,36\n40,21\n41,23\n42,39\n43,28\n44,29\n45,21\n46,32\n47,30\n48,21\n49,29\n50,31\n51,29\n52,34\n53,8\n'

In [48]:
manner_df.to_csv()#donut chart

',Manner_of_death\nShot,1445\nTasered,58\nShot and Tasered,33\nOther,1\n'

In [49]:
race_df.to_csv() #bar plot

',Race\nWhite,751\nBlack,378\nHispanic,246\nAsian,19\nNative,19\nOther,10\n'